#innpakning{
    width: 800px; /*bredden på layout */
    background-color: #404040;
    margin: auto; /*sentrer elementer, like stor marg på begge sider*/
    display: flex; /*bruke flexbokser*/
    flex-direction: column; /*plasserer bokser div> inni taggen i en kolonne (under hverandre)*/
}

ul{
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
ul li{
    display: inline; 
}
ul a{
    padding: 10px 30px; 
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    background-color: #8cbe05;
}

ul a:hover{
    background-color: #e7f1cc;
}

#topptekst{
    height: 120px;
    background-color: #909090;
    padding: 5px;
    margin: 5px;
    color: #FFFFFF;
    font-size: 24pt;
}

#meny{
    background-color: #8cbe05;
    padding: 10px;
    margin: 5px;
}

#innhold{
    background-color: #909090;
    padding: 10px;
    margin: 5px;
}