body{
    background-color: #d3d3d3;
}

#wrapper{
    font-size: 11px;
    display: flex; /* gjør den om til en flexbox */
    flex-direction: row; /*legger boksene vannrett ikke leddrett*/
    flex-wrap: wrap; /*plasserer elementer vannrett og på ny linje under om bredden er full*/
    width: 1000px;
    height: 50px;
    margin: auto; /*sentrerer innhold*/
    background-color: #FFFFFF;

}

a{
    color: #FFFFFF
}

div{
    list-style-type: none; 
    margin: 10px;
    padding: 0px;
}

div main{
    display: inline-table; 
}

div a{
    border-radius: 1000px;
    padding: 10px;
    left:-100px;
    width: 0px;
    text-decoration: none;
}

div main:hover{
    background-color: #FFFFFF;
    color:#14555A;
}

div main a:hover{
    color:#14555A;
}

#bilde{
    width: 500px;
    height: 400px;
    object-fit: contain;
}


header{
    flex-basis: 40%;
    min-height: 100px;
    font-family:
}

.center {
    margin: auto;
    width: 45%;
    border: 2px solid green;
    padding: 10px;
  }

nav{
    flex-basis: 28%;
    border-radius: 70px;
    padding: 3px;
    height: 500px;
    text-align: center;
    border: 3px solid #14555A;
    margin: 20px;
}


main{
    flex-basis: 12%;
    border-radius: 100px;
    padding: 5px;
    width: 100px;
    height: 15px;
    background-color: #14555A; 
    border: 1px solid #14555A;
    margin: 9px;
}

#heihei{
    color:#000000
}



aside{
    flex-basis: 10%;
    border-radius: 100px;
    padding: 3px;
    width: 50px;
    height: 15px;
    text-align: center;
    border: 2px solid #A5E1D2;
    margin: 5px;
}

footer{
    flex-basis: 12%;
    border-radius: 100px;
    padding: 3px;
    width: 50px;
    height: 15px;
    text-align: center;
    border: 2px solid #A5E1D2;
    margin: 5px;

}

#dnb {
    width: 300px;
    height: 55px
    
}

#hvit {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 1450px;
    height: 100px;
    z-index: -1;
}

#grønn {
    position: absolute;
    top: 1000px;
    left: 0px;
    width: 100%;
    height: 500px;
    z-index: -1;
}

#youtube {
    width: 80px;
    height: 50px;
}

#anders {
    border-radius: 20px;
    margin: 30px;
}

#nytt {
    width: 400px;
    height: 400px;
    top: 1000px;
    left: 400px;
    image-orientation: right;

}

#nyheter {
    height: 400px;
    width: 1000px;
    color: #000000;
    font-size: 20pt;
}

#nyhetertekst {
    font-size: 23px;
    color:#000000;
}

#nyhetertekst2 {
    font-size: 20px;
    color:#000000;
}

@font-face {
    font-family: "DNB";
    src: url("https://eufemia.dnb.no/quickguide-designer/fonts/");
  }
  

#mf {
    top: -100px;
    display: flex; /* gjør den om til en flexbox */
    flex-direction: row; /*legger boksene vannrett ikke leddrett*/
    flex-wrap: wrap; /*plasserer elementer vannrett og på ny linje under om bredden er full*/
    width: 1000px;
    margin: auto; /*sentrerer innhold*/
    background-color: #FFFFFF;
}

#hm {
    display: flex; /* gjør den om til en flexbox */
    flex-direction: row; /*legger boksene vannrett ikke leddrett*/
    flex-wrap: wrap; /*plasserer elementer vannrett og på ny linje under om bredden er full*/
    width: 1050px;
    margin: auto; /*sentrerer innhold*/
    background-color: #FFFFFF;

}

#greaker{
    position: relative; /* for kunne flytte på objekter*/
    animation-name: bevegelse; /*navn på animasjon som jeg trenger etterpå til keyframes */
    animation-duration: 2s; /*varighet på animasjon */
}

/*endre plassering og bakgrunnsfarge, varigheten skal være i 5s*/
/*husk at left = x - aksen, top = y- aksen og origo (0, 0) er oppe i venstre hjørne */
@keyframes bevegelse{
        0% { opacity: 0; }
        100% {opacity: 1;}


}


#topptekst{
    height: 20px;
    width: 1000px;
    padding: 15px;
    margin: 15px;
    color: #000000;
    font-size: 28pt;
}

#innhold{
    padding: 30px;
    font-size: 20px;
    color:#000000;
}

#Gutta{
    color:#000000;
}

table ul li{

    display: inline;

}




table ul{

    padding: 0px;

    margin: 0px;

    list-style-type: none; /*fjerner kulepunkter */

}



table ul a{

    padding: 10px 30px; /*"luft" på alle sider */

    color: #333333; /* tekstfarge */

    font-weight: bold; /* fet skrift */

    text-decoration: none; /*fjerner understrek */


    border-radius: 15%;

}

table{

    border-collapse: collapse; /*fjerner mellomrom */

    margin-left: 80%; /*sentrer tabell */

    margin-right: auto; /*sentrer tabell */

}



table th{

    background-color:

    color: #FFFFFF;

    border: 1px solid #000000;

    padding: 5px;

}



table td{


    border: 1px solid #000000;

    padding: 5px;

    text-align: left;

}