#insult{
    width: 400px;
    background-color: #000000;
    padding-left: 5px;
    color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}