body{
    background-image: url('../bilder/fredrikstadboen.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Merriweather Sans', sans-serif;

}



#wrapper{
    font-size: 11px;
    display: flex; /* gjør den om til en flexbox */
    flex-direction: row; /*legger boksene vannrett ikke leddrett*/
    flex-wrap: wrap; /*plasserer elementer vannrett og på ny linje under om bredden er full*/
    width: 100%;
    top: -100px;
    height: 25px;
    margin: auto; /*sentrerer innhold*/


}


a {
    border-bottom: 1px solid #FF0000;
    padding-bottom: 5px;
    }

#innhold {
    font-size: 30px;;
    background-color: #FFFFFF;
}

#innhold2{
    font-size: 17px;;
    background-color: #FFFFFF;
}




#hoved {
    width: 800px;
    padding: 20px;;
    height: 500px;
    margin: auto;
    background-color: #FFFFFF;
}

#hvit {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 105vw !important;
    margin-left: calc(-50vw + 50%);
    height: 70px;
    z-index: -2;
}

#logo {
    position: absolute;
    top: 0.5%;
    left: 70%;
    width: 105px;
    height: 50px;
}

.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
    width: 500px;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #FF4122;
    color: white;
    float: left
  }


/*hamburgermeny*/
#container{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    background-color: #FFFFFF;
}

/*strekene i menyen*/
.bar1, .bar2, .bar3{
    width: 30px;
    height: 4px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
}

/*roterer øverste strek*/
.change .bar1{
    transform: rotate(-45deg) translate(-6px, 3px);
}

/*fjerner midterste strek*/
.change .bar2{
    opacity: 0;
}

/*roterer nederste strek*/
.change .bar3{
    transform: rotate(45deg) translate(-10px, -8px);
}

/*skjuler linker ved oppstart*/
.dropdown-content{
    display: none;

}

/*linker*/
a:link{
    color: #000000;
    text-decoration: none;
}


a:visited{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #FF0000;
    text-decoration: none;
}

*brukes for å håndtere bilder på siden*/

body{
    margin: 0;
}


/*bilder på startsiden*/
/*8 piksler mellom radene med små bilder*/
.row > .column{
    padding: 1px;
    padding-top: 10px;
}


/*lager jevnstore kolonner, her regner vi 100 / antall bilder */
.column{
    float: left;
    width: 24%;
}

/*startbilder, inni container*/
img.page{
    width: 100%;
    height: 100%;
}

#storebilde{
    margin-top: 20%;
}

/*layout til modal (lightbox)*/
.modal{
    display: none; /*vises ikke ved oppstart*/
    position: fixed;
    z-index: 1; /*legger modal oppå siden*/
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*lager automatisk en scroller til siden*/
    background-color: #000000;
}

.modal-content{
    position: relative; /*plasseres i forhold til egen størrelse*/
    margin: auto;
    background-color: #FFFFFF; /*skaper en strek over bildetekst*/
    padding: 0;
    width: 50%;
    max-width: 1200px; /*tilpasses til hvert prosjekt*/
}

/*lukkeknapp - kan styles som tekst pga unicode */
.close{
    color: #FFFFFF;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover{
    color: #999999;
    text-decoration: none;
    cursor: pointer; /*endrer musepeker*/
}

/*frem- og tilbakeknapper - kan styles som tekst pga unicode */
.prev, .next{
    cursor: pointer;
    position: absolute;
    margin-left: calc(-50vw + 50%);
    top: 90%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    user-select: none; /*kan ikke makeres av bruker*/
}

.next{
    right: 0; /*plasserer fremoverknappen til høyre*/
}

/*nummertekst 1/3 osv. */
.numbertext{
    color: #FFFFFF;
    font-size: 12px;
    padding: 8px, 12px;
    position: absolute;
    top: 0;
}

/*plassering av bildetekst*/
.caption-container{
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 2px 16px;
}

/*legger enkel effekt på thumbnailene inni modalen*/
img.demo{
    width: 100%;
    opacity: 0.6; /*60% synlighet*/
}

.demo:hover{
    opacity: 1; /*100% synlighet*/
}

