body{
    background-color: #faebd7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

table{
    border-collapse: collapse;
    border: 1px solid #000000;
}

td{
    padding: 5px;
    text-align: center;
}