body{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link{
    color: #0000FF;
    text-decoration: none;
}

a:visited{
    color: #0000FF;
    text-decoration: none;
}

a:hover{
    color: #FF0000;
    text-decoration: none;
}

select{
    background-color: #FFFFFF;
    color: #000000;
    width: 180px
}

#container{
    width: 600px;
    padding: 10px;
    margin:auto;
    border: 1px solid #000000 

}