body{
    background-color: #B2A69F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#innpakning{
    width: 600px;
    margin: auto;
    border: 1px solid #000000;
    padding: 10px;
}

/*** switch lysbryter ***/

/*boksen rundt*/

.switch{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0px;
    height: 0px;
}

/*bryteren bakgrunn*/
.slider{
    position:absolute;
    cursor: pointer;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
    border-radius: 34px;
}

.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
    border-radius: 50%;
    background-color: #000000;
}

/* endrer farge på bakgrunnen med klikk*/
input:checked + .slider{
    background-color: #FFFFFF;
}

/*FLytter before*/
input.checked + .slider:before{
    transform: translate(26px);
}

.modal{
    display: block; /*viser ved oppstart*/
    position: fixed;
    z-index: 1; /*alltid øverst*/
    padding: 50px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content{
    background-color: #FFFFFF;
    margin: auto;
    padding: 5px 15px;
    border: 1px solid #000000;
    width: 80%;
    height: 80%;
}